body{
background-color: rgb(197, 12, 58);
background: url(./image/old-1645813_1280.jpg);
margin: 0px;
padding: 0px;

}
.container{
    position: relative;
    top: 20px;
    right: 100x;
    bottom: 150px;
    left: 150px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: lightblue;
    text-align: center;
}
h1{
    color: rgb(15, 57, 194)
}
.change-table,th,td {

    border: 1.5px solid yellow;
    border-collapse:collapse;

}
th{
    /* float: left; */
}
td{
    /* float:none; */
}